spring:
  profiles:
    active: dev
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/prblueprint
    driver-class-name: org.postgresql.Driver
    username: blueprint
    password: 1234
  h2:
    console:
      enabled: false
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379